$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Lato,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$spacer: 1rem !default;
$enable-responsive-font-sizes: true !default;

$primary: #087f5b !default;
$black: #212429 !default;
$gray-400: #495057 !default;
$gray-300: #acb5bd !default;

/* navbar size */
$navbar-padding-y: $spacer * 2 !default;
$navbar-padding-x: 0 !default;
$navbar-light-color: #fff !default;
$navbar-light-hover-color: darken(#fff, 5%) !default;
$navbar-light-active-color: darken(#fff, 30%) !default;
$navbar-nav-link-padding-x: 1rem !default;
