footer {
  font-size: 0.9em;
  a {
    color: $gray-400;
  }

  ul li {
    margin: 8px 0;
  }

  .footer-logo {
    margin-bottom: 15px;
  }
  .footer-wrapper {
    padding: 0 120px 40px 120px;
  }

  .copyright {
    text-align: center;
    padding: 20px 20px;
    border-top: 1px solid $gray-200;
  }
}

@include media-breakpoint-down('sm') {
  footer {
    .footer-logo {
      margin-bottom: 10px;
    }

    .footer-wrapper {
      padding: 0 10px 40px 10px;
    }
  }
}
