.hero {
  background-color: $primary;
  color: $white;
  padding: 120px 80px 280px 80px;
  border-bottom-left-radius: 400px;
}

@include media-breakpoint-down('sm') {
  .hero {
    padding: 10px 10px 280px 10px;
    border-bottom-left-radius: 280px;
  }
}
