.partners {
  background-color: #f8f9fa;
  padding: 100px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 80px;
}

@include media-breakpoint-down('sm') {
  .partners {
    padding: 40px 5px;
    margin-bottom: 40px;
    img {
      max-width: 60px;
      max-height: 100px;
    }
  }
}

@include media-breakpoint-down('xs') {
  .partners {
    img {
      max-width: 35px;
      max-height: 100px;
    }
  }
}
