@import 'custom';
@import 'bootstrap/scss/bootstrap';

.gray-4 {
  color: $gray-400;
}
.gray-3 {
  color: $gray-300;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 18px;
  color: $gray-400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  line-height: 1.8em;
}

.text-underline {
  text-decoration: underline;
}

@include media-breakpoint-down('sm') {
  body {
    font-size: 14px;
  }
  .mock-1 {
    width: 300px;
    height: 470px;
  }
  .mock-2 {
    width: 320px;
    height: 440px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4em;
  }
}

.underlined-link {
  text-decoration: underline;
  color: $primary;
}

@import 'navbar';
@import 'hero';
@import 'partners';
@import 'footer';

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

.float-animation {
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

.logo-bg-left {
  background: url('/images/bg/large-logo.png') no-repeat;
  background-position: 0 center;
}

.app-bg-right {
  background: url('/images/bg-1.png') no-repeat;
  background-position: right center;
}

.logo-bg-center {
  background: none;
}

@include media-breakpoint-down('sm') {
  .logo-bg-left {
    background: url('/images/bg/full-logo.png') no-repeat;
    background-position: center 90px;
    background-size: 420px;
  }

  .logo-bg-center {
    background: url('/images/bg/full-logo.png') no-repeat center center;
    background-size: contain;
  }
}

.highlight {
  background-color: #fff7e1;
  padding: 8px 40px;
  display: inline-block;
  font-size: 0.85em;
  border-radius: 8px;

  i {
    color: #087f5b;
    font-size: 1em;
  }
  span {
    margin-left: 10px;
    color: #fcc419;
  }
}

.text-title {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  &::before {
    content: url('/images/bg/text-title.png');
    display: block;
    position: absolute;
    top: -45px;
    left: -40px;
  }
}

.feature {
  display: flex;
}

@include media-breakpoint-up('md') {
  .feature {
    width: 39%;
  }
}

@include media-breakpoint-down('sm') {
  .feature {
    margin: 15px 0;
  }
}

.feature_icon {
  display: flex;
  height: 100px;
  width: 100px;
  font-size: 1.8em;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-shrink: 0;
}

@include media-breakpoint-down('sm') {
  .feature_icon {
    width: 80px;
    height: 80px;
    font-size: 1.45em;
  }
}

.feature_content {
  margin-left: 20px;

  h4 {
    font-weight: 600;
  }

  p {
    font-size: 0.85em;
  }
}

@include media-breakpoint-down('sm') {
  .feature_content {
    margin-left: 25px;
  }
}

.feature.feature--green {
  .feature_icon {
    background-color: #ecf5e0;
    color: #8bc33c;
  }
}

.feature.feature--red {
  .feature_icon {
    background-color: #fee1e5;
    color: #fb2d47;
  }
}

.feature.feature--yellow {
  .feature_icon {
    background-color: #fff7e1;
    color: #fcc419;
  }
}

.explore {
  padding-top: 80px;
  padding-bottom: 80px;
}

.explore-overlay {
  width: 55%;
  background-color: $primary;
  color: $white;
  padding: 60px 60px;

  a {
    color: $white;
  }
}

@include media-breakpoint-down('sm') {
  .explore {
    padding: 10px 10px;
  }
  .explore-overlay {
    width: 100%;
    padding: 40px 10px;
  }
}

@include media-breakpoint-down('xs') {
  .explore {
    padding: 5px 5px;
  }
  .explore-overlay {
    width: 100%;
    padding: 40px 15px;
  }
}

.curved-angles {
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.section {
  margin-top: 150px;
  margin-bottom: 150px;
}

@include media-breakpoint-down('sm') {
  .section {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@include media-breakpoint-down('xs') {
  .section {
    padding-right: 4px;
    padding-left: 4px;
  }
}

.space-x {
  padding-left: 30px;
  padding-right: 30px;
}
.space-y {
  padding-top: 100px;
  padding-bottom: 100px;
}
@include media-breakpoint-up('md') {
  .space-x {
    padding-left: 200px;
    padding-right: 200px;
  }
  .space-y {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@include media-breakpoint-down('sm') {
  .img-sm-responsive {
    width: 100%;
  }

  .clients-img {
    transform: scale(1.2);
  }
}

.newsletter {
  padding: 120px 100px;
  background-color: $primary;
  color: $white;
  font-size: 0.85em;
}

.newsletter-input {
  width: 100%;
  display: flex;
  background-color: $white;
  padding: 15px 20px;
  border-radius: 8px;

  input {
    border: none;
    outline: none;
    flex-grow: 1;
  }
}

@include media-breakpoint-down('sm') {
  .newsletter {
    padding: 45px 20px;
    text-align: center;
  }

  .newsletter-input {
    padding: 8px 8px;
    border-radius: 8px;
  }
}

@include media-breakpoint-down('xs') {
  .google-store-icon {
    width: 140px;
    height: 45px;
  }

  .apple-store-icon {
    width: 120px;
    height: 45px;
  }
}

.social-icon-link {
  color: $primary;
  margin-right: 8px;
  height: 30px;
  width: 30px;
  padding: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid $primary;
  transition: all 0.2s ease-in-out;

  &:hover {
    text-decoration: none;
    background-color: $primary;
    color: $white;
    border: 1px solid transparent;
    transition: all 0.3s ease-in;
  }
}
